<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Tiendas registradas
    </ion-title>
    <ion-buttons slot="end">
      <ion-fab-button (click)="addMarkets()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" sizeLg="10"  >
          <ion-card *ngFor="let dt of tienda" >
            <ion-card-header>
              <ion-item>
                <ion-button (click)="vermas(dt._id)" expand="block" fill="clear" shape="round">
                  <ion-icon slot="end" name="eye-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="update(dt._id)" expand="block" fill="clear" shape="round">
                  <ion-icon slot="end" name="build-outline"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-card-title>{{dt.nameTienda}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <label>Calle: {{dt.streetTienda}}</label><br>
              <label>Telefóno: {{dt.cellphoneTienda}}</label>
              <label>Fecha de registro: {{dt.date}}</label>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>
